@model WEF.Models.GeneralEvents

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Events</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LevelDisplayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LevelDisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskDisplayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskDisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeCreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
